
.container {
    display: block;
    width: 600px;
    margin: 0 auto;
    border: double black 5px;
    background: lightblue;
}

.container h1, h2{
    display: inline-block;
    text-align: center;
}

.banner{
    display: inline-block;
    background: white;
}

.banner *{
    display: inline-block;
}

.banner div:first-of-type{
    width:100px;
    height: 100px;
    background: url("../img/images.jpg") no-repeat center/contain;
}

.box {
    display: inline-block;
    width: 48%;

}

#producersList {
    list-style: none;
}
#producersList li {
    border: 1px solid black;
    width: 100%;
}

#producersList li:active {
    position: relative;
    top: 5px;
}

#producersList li span {
    padding: 5px;
}

.producerImg {
    border: 1px solid black;
    width: 40%;
    height: 100px;
    display: inline-block;
}

.cookie {
    width: 80%;
    height: 300px;
    border: 1px solid black;
    border-radius: 50%;
    background: url("../img/cookie.png") no-repeat center/contain;
    margin: 100px auto;
}

.cookie:active {
    position:relative;
    top:5px;
}

